*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family:sans-serif;
}

/* This is index.html */
.center {
   display: block;
   margin-top: .5px;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
}
span {
   color:#f9004d;
}
.navbar{
   background-color: black;
   padding-top:20px;
}
.navbar .nav-item{
   padding: 10px 25px;
}
.navbar .nav-item a:hover{
   color:#f9004d;
}

.homeWords h2{
   text-align:center;
   color:#f9004d;

}
.homeWords{
   font-size: large;
   text-align:center;
   padding: 30px 10px;
   color: white;

}
.card{
   border-style: none;
   margin-bottom:90px;

}
.card .card-title{
   color:#f9004d;
}
.card .card-body {
   text-align: center;
   background-color: black;
   color:white;
}
.card .btn{
   background-color:#f9004d;
   border-color: darkred;

}
/* This is descriptions.html */
.row{
   margin:50px;
}
.descriptionWords h1{
   text-align: center;
   color:#f9004d;
}
.descriptionWords{
   margin-top: 40px;
   color:white;
}


/* This is safety.html */
.safetyWords h2{
   text-align:center;
}
.safetyWords{
   text-align:center;
   padding: 5px 10px;
   color: white;
}

/* This is faq.html */
.faq h1{
   text-align:center;
}
.faq{
   background-color: hsla(0, 11%, 7%, 0.36);
   padding: 50px 10px;
   color: white;
}




/* This is contact.html */
.box{
   background-image: url("../img/contact1.JPG");
   background-repeat: no-repeat;
   background-position: right;

}
.contact{
   margin: 120px 360px 90px;
   max-width: 700px;
   width: 100%;
   background-color: hsla(0, 1%, 70%, 0.36);
   padding: 25px 30px;
   border-radius: 5px;


}
.contact .title{
   color: #f9004d;
   text-align: center;
   font-size:40px;
   font-weight:bold;
   font-family:'Libre Baskerville', serif;
}
.name{
   margin-bottom:10px;
}

.name label{
   color:black;
   font-weight: lighter;
   font-size:1.5em;
   margin-right:77px;
}
.name #complete_name{
   width: 300px;
}
.email{
   margin-bottom:10px;
}
.email label{
   color:black;
   font-weight: lighter;
   font-size:1.5em;
   margin-right:82px;
}
.email #emailAdd{
   width: 300px;
}
.subject{
   margin-bottom:10px;
}
.subject label{
   color:black;
   font-weight: lighter;
   font-size:1.5em;
   margin-right:58px;
}
.subject #subLine{
   width: 300px;
}
.message{
   margin-bottom:10px;
}
.message label{
   color:black;
   font-weight: lighter;
   font-size:1.5em;
   margin-right:51px;
}
.message #msgBox{
   height:200px;
   width:500px;
}
button{
   float:relative;
   padding: 9px 9px;
   background: #f9004d;
   color: rgb(255, 255, 255);
   border-radius:5px;
   font-size: medium;
}
/*Footer*/
footer{
   marign-top:90px;
   text-align:center;
   background-color: black;
   padding: 25px 10px;
   color: white;
}